# Permalinks
#
# Use of `relative_permalinks` ensures post links from the index work properly.
permalink:           pretty

markdown: kramdown
# Setup
title:               Call/cc
tagline:             Christophe De Troyer's Research blog
url:                 http://blog.call-cc.be
paginate:            1
baseurl:             ""
repository:          _repository

# Assets
#
# We specify the directory for Jekyll so we can use @imports.
sass:
  sass_dir:          _sass
  style:            :compressed

# About/contact
author:
  name:              Christophe De Troyer
  url:               http://www.christophedetroyer.be
  email:             cdetroye@vub.ac.be

# Custom vars
version:             2.0.0
github:
  repo:              https://github.com/cdetroye/cdetroye.github.io

pages_list:       
  About: '/about'
  Archive: '/archive'
  Feed: '/atom.xml'

gems: [jekyll-paginate, jekyll-gist]
paginate: 5
paginate_path: "page:num"


scholar:
  style: apa
  locale: en

  sort_by: none
  order: ascending
  repository: 'repository'
  source: '_bibliography'
  bibliography: bibliography.bib
  #bibliography_template: <abbr>[{{key}}]</abbr>{{reference}} [<a href="{{links.pdf}}">Supporting Materials</a>]
  bibliography_template: <abbr>[{{key}}]</abbr>{{reference}} {% if {{links.pdf}} != blank %}  <a href="{{links.pdf}}">PDF</a> {% endif %}

  replace_strings: true
  join_strings:    true

  details_dir:    bibliography
  details_layout: bibtex.html
  details_link:   Details

  query: "@*"